* {
  padding: 0;
  margin: 0;
}

body {
  background-color: gainsboro;
}

nav {
  background-color: white;
  width: 93%;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}
nav .navbar-left {
  flex: 3;
  display: flex;
}
nav .navbar-left img {
  width: 130px;
}
nav .navbar-right {
  flex: 4;
  display: flex;
  justify-content: end;
  gap: 50px;
}
nav .navbar-right a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
nav .navbar-right a:hover {
  color: rgb(239, 103, 148);
}

footer {
  padding: 50px;
  background-color: #191414;
  color: white;
  height: 200px;
  display: flex;
  justify-content: space-around;
}
footer .discrib {
  width: 250px;
}
footer .discrib h2 {
  height: 70px;
  display: flex;
  align-items: center;
  color: #DF7357;
}
footer .discrib .location, footer .discrib .phone, footer .discrib .email- {
  display: flex;
  gap: 5px;
  margin-bottom: 30px;
}
footer .discrib .soilmidia {
  display: flex;
  justify-content: start;
  gap: 20px;
}
footer .discrib .soilmidia i {
  margin-top: 30px;
  font-size: 25px;
  border: 1.5px solid white;
  padding: 3px;
}
footer .discrib .locations {
  gap: 30px;
}
footer .discrib .locations p {
  height: 60px;
}

.container1 {
  background: url(/img/Homecafe.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
.container1 .container1-left {
  padding: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

select {
  border: none;
}

.container-menu1 {
  background: url(/img/MenuBackground2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.container-menu2-left {
  padding-top: 70px;
  text-align: center;
}

.container-menu3-header h1 {
  text-align: center;
  align-items: center;
  color: rgb(218, 75, 123);
}

.container5 {
  padding: 60px;
}

.container-menu3 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px;
}
.container-menu3 .container-menu3-card {
  display: flex;
  justify-content: space-around;
}
.container-menu3 .container-menu3-card .card {
  background-color: white;
  width: 300px;
}
.container-menu3 .container-menu3-card .card .card-top img {
  width: 300px;
}
.container-menu3 .container-menu3-card .card .card-center {
  padding: 10px;
}
.container-menu3 .container-menu3-card .card .card-button {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}
.container-menu3 .container-menu3-card .card .card-button .card-button-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container-menu3 .container-menu3-card .card .card-button .card-button-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container-menu3 .container-menu3-card .card .card-button .card-button-right span i {
  font-size: x-large;
}

.container5 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container5-card-cake {
  display: flex;
  justify-content: space-around;
}
.container5-card-cake .card-cake {
  background-color: white;
  width: 230px;
  height: 270px;
  padding: 10px;
  text-align: center;
}
.container5-card-cake .card-cake .card-cake-top {
  display: flex;
  justify-content: end;
}
.container5-card-cake .card-cake .card-cake-top i {
  font-size: x-large;
}
.container5-card-cake .card-cake .card-cake-buttom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #c64771;
  padding: 8px;
  border: none;
  border-radius: 3px;
  color: white;
}

.header {
  height: 600px;
  padding: 100px 50px 0 50px;
  display: flex;
}
.header .input {
  flex: 1;
}
.header .input form {
  width: 100%;
  height: 100%;
}
.header .input form .title {
  height: 70px;
}
.header .input form .fullname, .header .input form .email {
  margin-bottom: 30px;
}
.header .input form .fullname input, .header .input form .email input {
  width: 90%;
  height: 50px;
  padding: 5PX;
  font-size: 20px;
  border: none;
  background: #F0ECEC;
}
.header .input form .feedback {
  margin-bottom: 40px;
}
.header .input form .feedback h3 {
  height: 40px;
}
.header .input form .feedback input {
  width: 90%;
  height: 70px;
  padding: 5PX;
  font-size: 20px;
  border: none;
  background: #F0ECEC;
}
.header .input form .submit input {
  height: 60px;
  width: 200px;
  border: none;
  border-radius: 7px;
  font-size: 25px;
  background-color: #DF7357;
}
.header .map {
  flex: 1;
}
.header .map .mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 100%;
}
.header .map .gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 100%;
}
.header .map .gmap_iframe {
  width: 100% !important;
  height: 100% !important;
}

main {
  height: 600px;
  padding: 50px;
}
main .title-main {
  height: 170px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .card-person {
  display: flex;
  justify-content: space-between;
}
main .card-person .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 23%;
  height: 300px;
}
main .card-person .card p {
  margin-top: 20px;
}
main .card-person .card img {
  margin: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}/*# sourceMappingURL=mian.css.map */