

@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

*{
    padding: 0;
    margin: 0;
}
h1, h2, h3{
    font-family: 'Playball', cursive;;
}


@import "./Variable/variable";

@import "./Mixin/Responsive";
@import "./contents/welcome";

@import "./Components/nav";
@import "./Components/footer";
@import "./contents/submit";

@import "./contents/home";
@import "./contents/menu";
@import "./contents/contact";

@import "./contents/welcome";
