

.container1{
    background: url(/img/Homecafe.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;

    .container1-left{
        padding: 50px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}