
.container-menu1{
    background: url(/img/MenuBackgroud.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.container-menu2{
    background-color: white;
    margin: 60px;
    justify-content: space-between;
    
    display: flex;
    padding: 40px;

    .container-menu2-left{
        // display: flex;
        // flex: ;
        // flex-direction: column;
        background-color: blueviolet;
        img{
            width: 120px;
        }
    }
    .container-menu2-right{
        background-color: pink;
    }

}
@import "../Components/coffeecard"