

select{
    // padding: 0;
    border: none;
}

.container-menu1{
    background: url(/img/MenuBackground2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.container-menu2-left{
    padding-top: 70px;
    text-align: center;

}


.container-menu3-header{
    h1{
        text-align: center;
        align-items: center;
        color: rgb(218, 75, 123)

    }
}

.container5{
    // margin: 60px;
    padding: 60px;
}
@import "../Components/coffeecard";
@import "../Components/cakecard";
@import "../Components/button";