body {
    background-color: #00000078;
}

.welcom-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
}

.main {
    background-color: $card-color;
    @include flex;
    align-items: center;
    text-align: center;
    width: 800px;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 0 0 2em rgb(187, 186, 186);
    padding: 30px;

    @include responsive(Tablet){
        width: 600px;
    }

    @include responsive(Mobile){
        width: 500px;
        gap: 10px;
    }

    .main-top {
        @include flex;
        gap: 10px;

        h1{
            color: green;
            font-size: 50px;
        }
    }

    .main-center {
        img {
            width: 200px;
            @include responsive(Tablet){
                width: 150px;
                
            }
            @include responsive(Mobile){
                width: 100px;
            }
        }
    }

    .main-right {
        .main-a {
            background-color: $button-color;
            padding: 10px;
            width: 80px;
            border-radius: 5px;
            &:hover{
                background-color: $dark-color;
            }

            a {
                text-decoration: none;
                color: $white-color;
            }
        }

    }

}