

.container-menu3 { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    
    @include responsive(Mobile){
        overflow-x: scroll;
        flex-wrap: nowrap;
        justify-content: start;
    }
        .card {

            transition: box-shadow 0.1s ease-in-out, transform 1s;
        &:hover {

            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.245) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            transform: translateY(-10px);
        }
            background: $card-color;
            width: 350px;
            border-radius: 10px;
            .card-top {
                img {
                    width: 350px;       
                    border-radius: 10px 10px 0 0;

                }
            }
            
            .card-center {
                @include flex;
                gap: 10px;
                padding: 10px;
            }

            .card-button {
                display: flex;
                justify-content: space-between;
                padding: 15px 20px;

                .card-button-left {
                    @include flex;
                    gap: 10px;

                }

                .card-button-right {
                    @include flex;
                    gap: 10px;

                    span {
                        i {
                            font-size: x-large;
                            &:hover{
                                color:$button-color;
                            }
                        }
                    }

                }
            }

    }

}