
$breakpoint: ( 
    'Mobile': 620px,
    'Tablet': 820px,
    'lg': 1024px,
    'Desktop': 1200px,
);
@mixin responsive($size){
    @media screen and (max-width: map-get($breakpoint, $size)) {
        @content;
    }
}
@mixin flex{
    display: flex;
    flex-direction: column;
}

